{{components.login
  title=(t "components.ma-auth.cta-login")
  components=(hash
    input=(component "ma-input"))
  errorMessageKeys=errorMessageKeys
  action=loginAction
  onSubmit="return false"
  changeset=changeset}}

<fieldset class="field">
  {{#if title}}
    <legend>{{title}}</legend>
  {{/if}}

  <label class="label" for="password_confirmation">
    {{t "components.ma-auth.password-confirm"}}
  </label>
  <div class="field has-addons">
    <div class="control is-expanded">
      {{components.input
        type="password"
        name="password_confirmation"
        inputId="password_confirmation"
        autocorrect="off"
        autocomplete="off"
        errors=(get changeset "error.passwordConfirmation.validation")
        minlength="12"
        required="required"
        value=changeset.passwordConfirmation}}
    </div>
    <div class="control">
      <input type=submit
        class="button is-primary"
        data-test="signup"
        disabled={{isDisabled}}
        value="{{t "components.ma-auth.cta-signup"}}">
    </div>
  </div>

  {{ma-errors-handler errorMessageKeys=errorMessageKeys}}
</fieldset>

{{yield}}
