{{yield}}

{{components.login
  title=(t "routes.login.cta-login")
  components=(hash
    input=(component "ma-input"))
  errorMessageKeys=errorMessageKeys
  action=loginAction
  model=model}}

<fieldset class="field">
  {{#if title}}
    <legend>{{title}}</legend>
  {{/if}}

  {{components.input
    type="password"
    name="password_confirmation"
    autocorrect="off"
    autocomplete="off"
    errors=(v-get model "passwordConfirmation" "messages")
    minlength="12"
    required="required"
    label=(t "routes.login.password-confirm")
    value=model.passwordConfirmation}}

  {{ma-errors-handler errorMessageKeys=errorMessageKeys}}

  <button {{action action}}
    class="button is-primary"
    data-test="signup"
    disabled={{isDisabled}}>
    {{t "routes.login.cta-signup"}}
  </button>
</fieldset>
