<div class="field">
  <label class="label" for="title">
    {{t "components.ma-create-media.media-title-label"}}
  </label>
  <div class="control">
    {{ma-input
      name="title"
      autofocus=true
      inputId="title"
      placeholder=(t "components.ma-create-media.media-title-placeholder")
      value=changeset.title}}
  </div>
</div>

<div class="field">
  <label class="label" for="url">
    {{t "components.ma-create-media.media-url-label"}}
  </label>
  <div class="control">
    {{ma-input
      name="url"
      inputId="url"
      placeholder=(t "components.ma-create-media.media-url-placeholder")
      value=changeset.url}}
  </div>
</div>

{{ma-errors-handler errorMessageKeys=errors}}

<div class="control">
  <button
    onclick={{action "add" changeset}}
    class="button is-primary {{cssLoading}}"
    disabled={{isDisabled}}>
    {{t "components.ma-create-media.add"}}
  </button>
</div>

{{yield}}