<a class="ma-Nav-overlay" href="#" {{action "toggle"}}></a>

<nav class="ma-Nav-nav">
  <ul class="ma-Nav-items">
    <li>{{link-to (t "routes.application.title") "application"}}</li>

  {{#unless isAuthenticated}}
    <li>{{link-to (t "routes.welcome.title") "welcome"}}</li>
    <li>{{link-to (t "routes.login.title") "login"}}</li>
  {{/unless}}

  {{#if isAuthenticated}}
    <li>{{link-to (t "routes.styleguide.title") "styleguide"}}</li>
    <li>{{link-to (t "routes.typography.title") "typography"}}</li>
    <li>{{link-to (t "common.logout") "logout"}}</li>
  {{/if}}
  </ul>

  <footer class="ma-Nav-footer">
    <small>v{{version}}</small>
  </footer>
</nav>

<a href="{{concat '#' elementId}}" {{action "toggle"}}
   class="navbar-burger burger ma-Nav-burger {{if isShown "is-active"}}">
  <span></span>
  <span></span>
  <span></span>
</a>
