{{! update the <head><title/><head> tag}}
{{title (t title)}}

<nav class="mir-Header-Nav">
  <ul class="mir-Header-Items">
    {{#if backTo}}
      <li class="mir-Header-Item">
        {{link-to (t back) backTo class="mir-Header-Link"}}
      </li>
    {{else}}
      <li class="mir-Header-Item">
        <a href=#
          {{action "back"}}
          class="mir-Header-Link"
          title={{t "components.mir-header.back"}}
          >{{t "components.mir-header.back"}}
        </a>
      </li>
    {{/if}}

    <li class="mir-Header-Item">
      {{yield}}
    </li>
  </ul>
</nav>

<h1 class="mir-Header-Title">{{t title}}</h1>

