{{title (t "common.appname")}}

<main lang={{locale}}>

  <aside class="Offline Notification t-Center u-Z20">
    <h2>{{t "app.network.offline"}}</h2>
    <p>{{t "app.network.offline-detail"}}</p>
  </aside>

  {{outlet}}

  <noscript class="NoScript Notification t-Center">
    <h1>{{t "app.noscript.title"}}</h1>
    <p>{{t "app.noscript.copy"}}</p>
  </noscript>

  {{mir-nav
    isAuthenticated=isAuthenticated
    logout=(route-action "logout")}}
</main>
