{{#ma-header
  back="routes.application.title"
  backTo="application"
  title="routes.application.title"}}
  {{link-to (t "routes.typography.title") "typography" class="navbar-item"}}
{{/ma-header}}

{{#ma-user as |user|}}
  <strong>{{user.email}}</strong>
{{/ma-user}}

{{#if model.all.length}}
  <ul>
    {{#each model.all as |media|}}
      <li>
        <a href={{media.url}} title={{media.title}} rel=external>
          {{media.title}}
        </a>
      </li>
    {{/each}}
  </ul>
{{/if}}

{{ma-errors-handler errorMessageKeys=errorMessageKeys}}

{{outlet}}
