{{#ma-header
  back="routes.application.title"
  backTo="application"
  title="routes.application.title"}}
  <a href="/signup" title="Sign Up">Sign Up</a>
{{/ma-header}}

{{#mir-user as |user|}}
  Thanks for logging in <strong>{{user.email}}</strong>
{{/mir-user}}

{{#if model.all.length}}
  <ul>
    {{#each model.all as |media|}}
      <li>
        <a href={{media.url}} title={{media.title}} rel=external>
          {{media.title}}
        </a>
      </li>
    {{/each}}
  </ul>
{{/if}}

{{mir-errors-handler errorMessageKeys=errorMessageKeys}}

{{outlet}}
