{{ma-header
  back="routes.media.new.title"
  backTo="media.new"
  title="routes.application.title"}}

{{#ma-user as |user|}}
  <strong>{{user.id}}/{{user.username}}</strong>
{{/ma-user}}

{{#if model.all.length}}
  <ul>
    {{#each model.all as |media|}}
      <li>
        {{ma-media-list-item model=media}}
      </li>
    {{/each}}
  </ul>
{{/if}}

{{ma-errors-handler errorMessageKeys=model.errors}}

{{outlet}}
