{{ma-header
  back="routes.media.new.title"
  backTo="media.new"
  title="routes.application.title"}}

{{#ma-user as |user|}}
  <strong>{{user.id}}/{{user.username}}</strong>
{{/ma-user}}

{{#if this.model.all.length}}
  <ul>
    {{#each this.model.all as |media|}}
      <li>
        <MaMediaListItem @model={{media}} />
      </li>
    {{/each}}
  </ul>
{{/if}}

{{ma-errors-handler errorMessageKeys=this.model.errors}}

{{outlet}}
