{{#ma-header
  back="routes.application.title"
  backTo="application"
  title="routes.login.title"}}
  <a href="/signup" title="Sign Up">Sign Up</a>
{{/ma-header}}

{{#if errorMessageKeys}}
  <span>{{t errorMessageKeys}}</span>
{{/if}}

{{#ma-auth
  title=(t "components.ma-auth.title")
  components=(hash
    login=(component "ma-login")
    input=(component "ma-input"))
  errorMessageKeys=errorMessageKeys
  loginAction=(route-action "login" model)
  action=(route-action "signup")
  model=model}}
  <fieldset class="field">
    <legend>{{t "components.ma-auth.socialTitle"}}</legend>
    <button data-test="twitter" class="button c-Social c-Social--twitter"
      onclick={{route-action "loginTwitter"}}>
      {{t "routes.login.cta-twitter"}}
    </button>
  </fieldset>
{{/ma-auth}}

{{outlet}}
