{{#mir-header
  back="routes.application.title"
  backTo="application"
  title="routes.login.title"}}
  <a href="/signup" title="Sign Up">Sign Up</a>
{{/mir-header}}

<p>
  <label for="email">{{t "routes.login.email"}}</label>
  <input id="email" type="email" placeholder={{t "routes.login.email-placeholder"}}>
</p>
<p>
  <label for="password">{{t "routes.login.password"}}</label>
  <input id="password" type="password">
</p>
<p>
  <input type="submit" value={{t "routes.login.cta-login"}}>
</p>


{{#if model.all.length}}
  <ul>
    {{#each model.all as |media|}}
      <li>
        <a href={{media.url}} title={{media.title}} rel=external>
          {{media.title}}
        </a>
      </li>
    {{/each}}
  </ul>
{{/if}}

{{outlet}}
