<div class="u-VerticalCenter u-Fullscreen">
  <article class="About u-Visuallyhidden u-VerticalCenter u-Z10" id="about">
    <section>
      <h1 class="title is-2">{{t "common.appname"}}</h1>
      <h2 class="subtitle is-4">{{t "common.tagline"}}</h2>
      <p class="has-text-justified">
        {{t "about.copy"}}
      </p>
      <p>{{t "about.arriving"}}</p>
      <a class="delete is-large About-Close" href="#" title="{{t "common.close"}}"></a>
    </section>
  </article>

  {{outlet}}

  <a class="About-Link" href="#about" title="{{t "about.title"}}">
    {{svg-jar "logo" class="Logo is-animate"}}
  </a>
</div>
